@import "../../variables";

.chat {
  height: calc(100% - 15px - 15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  border: 1px solid;
  border-radius: 4px;
}

.chat-window {
  height: 90%;
  overflow: auto;
  padding: 10px 20px 10px 20px;

  div {
    margin-top: 5px;
    border-radius: 4px;
    font-size: 17px;
    min-height: 40px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    width: 40%;
  }

  .my-message {
    margin-left: auto;
    position: relative;

    .message-time {
      position: absolute;
      left: -45px;
    }
  }

  .other-message {
    position: relative;

    .message-time {
      position: absolute;
      right: -45px;
    }
  }

  .text-message {
    padding: 0 6px;
  }
}

.chat-input-wrapper {
  height: 10%;
  display: flex;
  //align-content: center;
  align-items: center;
  padding: 0 40px;
}

.chat-input {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.microphone-input {
  display: none;
}

.microphone-label {
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;

  span {
    line-height: 33px;
  }
}

.microphone-label.active {
  background-color: $danger-color;
}

.chat-button {
  width: 10%;
  background-color: $success-color;
}

.chat-user {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 0 20px;
}

.chat-user-call {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
