@import "../../variables.scss";

.header-wrapper {
  height: 60px;
  width: 100%;
  //margin-bottom: 30px;
  border-bottom: 1px solid;
}

.header-content {
  height: 60px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.logo-img {
  max-width: 134px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.profile-dropdown-menu-wrapper {
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: span 3;
  position: relative;
  position: relative;
}

.logo {
  grid-column: span 2;
}

.navigation {
  grid-column: span 7;
}

.profile-right {
  display: flex;
  align-items: center;
}

.profile-dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  height: 60px;
}

.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  //background-color: darkslateblue;
  //color: #fff;
  line-height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-arrow {
  width: 6px;
  height: 6px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-right: 6px;
  right: -16px;
  transform: rotate(135deg);
  margin-left: 10px;
}

.profile-dropdown-item {
  position: absolute;
  bottom: -130px;
  right: 0;
  height: 130px;
  width: 200px;
  //height: ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid;
  border-top: none;
  padding: 6px 8px;

  button {
    height: 30px;
  }
}
