.videochat-wrapper {
  margin-top: 15px;
}

.videochat-control-buttons {
  display: flex;

  button {
    height: 40px;
  }
}

.videochat {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
