@import "variables";

.flex-container {
  display: flex;
  height: calc(100vh - 60px);
}

.flex-item-left {
  width: 20%;
}

.flex-item-middle {
  width: 80%;
}

body.light-mode {
  transition: background-color 0.2s ease;
  background-color: $light-color;
  color: #000;
  border-color: $gray-color;

  button {
    background-color: $primary-color;
    border: 1px solid$primary-color;
    //border-color: ;
    color: #fff;
  }

  .header-wrapper {
    box-shadow: $dark-shadow;
  }

  .profile-avatar {
    background-color: $dark-color;
    color: #fff;
  }

  .hover-bg {

    &:hover {
      transition: 0.3s ease;
      cursor: pointer;
      background-color: $gray-color;
      opacity: 0.7;
    }
  }
  .user, .chat-user-call {
    color: #000;
  }

  input#toggleCheck:checked + .slider {
    background-color: #66bb6a;
  }

  .slider:before {
    background-color: #fff;
  }

  .slider {
    background-color: #ccc;
  }

  .profile-dropdown-item {
    background: $light-color;
    box-shadow: $dark-shadow;
  }

  .lds-roller div:after {
    background: $primary-color;
  }

  .chat-window {

    .text-message {
      background-color: #E9E8E8;
    }

    .my-message {

    }

    .other-message {

    }
  }
}

body.dark-mode {
  transition: background-color 0.2s ease;
  background-color: $dark-color;
  color: #fff;
  border-color: #fff;

  button {
    background: $dark-color;
    color: #fff;
    border: 1px solid #fff;
    //border-color: ;
  }

  input {
    color: #fff;
    background: $dark-color;
  }

  a {
    color: #fff;
  }

  .header-wrapper {
    box-shadow: $light-shadow;
  }

  .profile-avatar {
    background-color: $light-color;
    color: $dark-color;
  }

  .authentication-link {
    color: #fff;
  }

  .hover-bg {

    &:hover {
      transition: 0.3s ease;
      cursor: pointer;
      background-color: #858484;
      //opacity: 0.;
    }
  }

  input#toggleCheck:checked + .slider {
    background-color: #fff;
    //border: 1px solid;

  }

  .slider:before {
    background-color: $dark-color;
  }

  .slider {
    background-color: #ccc;
  }

  .profile-dropdown-item {
    background: $dark-color;
    box-shadow: $light-shadow;
  }

  .lds-roller div:after {
    background: #fff;
  }

  .chat-window {

    .text-message {
      background-color: $dark-color;
      border: 1px solid;
    }

    .my-message {

    }

    .other-message {

    }
  }
}
